<div flexLayout="row">
  <div fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutGap="20px">
      <app-createnote fxLayoutAlign="center stretch">

      </app-createnote>
    </div>
    <h1>PINNED</h1>

    <div fxLayoutAlign="end center" fxLayoutGap="1px" fxLayout="row " class="single_card">

      <div *ngFor="let note of allnotes" >
          <span *ngIf=note.isPin></span>
        <app-singlecard [notedetails]=note>

        </app-singlecard>
      </div>
    </div>

    <h1>OTHERS</h1>

    <div fxLayoutAlign="end center" fxLayoutGap="1px" fxLayout="row " class="single_card">

        <div *ngFor="let note of allnotes" >
            <span *ngIf=!note.isPin></span>
          <app-singlecard [notedetails]=note>
  
          </app-singlecard>
        </div>
      </div>

  </div>
</div>

