<mat-card >
  <mat-card-title class="labelsize">Edit Labels</mat-card-title>
 
  <mat-card-subtitle>
    <input matInput  placeholder="Enter Label Name"style="margin: initial;" [(ngModel)]="Label">
    
  </mat-card-subtitle>
  <mat-card-content> 
      <div *ngFor = "let labels of data.labelsall">
          <mat-form-field class="adjust">
        <input matInput value="{{labels.labelTitle}}">
      </mat-form-field>
        <button mat-icon-button (click)="labelTitleupdate(labels)"><mat-icon>
            check_circle
        </mat-icon></button>
      
      </div>
    </mat-card-content>
  <mat-card-footer >
      <button mat-icon-button  [mat-dialog-close]="Label" (click)="LabelCreted()">Create Label</button>
  </mat-card-footer>
 
</mat-card>

