<div fxLayout="row" fxLayoutGap="10px">
  
  <div fxLayout="column" fxLayoutGap="20px">

    <div fxLayoutAlign="center stretch" style="margin: auto">
      <app-createnote style="margin: auto">

      </app-createnote>

    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px grid">
      <div *ngFor="let note of allnotes">
        <span *ngFor="let lb of note.labels">
          <span *ngIf="labelcheck(lb)">
            <app-singlecard [notedetails]=note>

            </app-singlecard>
          </span>
        </span>
      </div>

    </div>
  </div>

</div>