<mat-card class="my-card">
  <mat-card-header>
      <mat-card-title>Password Recovery</mat-card-title>
    </mat-card-header>
 <mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width">
          <mat-label>New Password</mat-label>
          <input  matInput  placeholder="Enter New Password" name="email">
       </mat-form-field>
       <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input  matInput  placeholder="Enter Confirm Password" name="email">
     </mat-form-field>
    </form>
 </mat-card-content>
 <mat-card-actions>
    <button mat-raised-button (click)="resetpassword()" color="primary" routerLink="/resetpassword">Submit</button>
 </mat-card-actions>
</mat-card>