.example-card{
    margin-top: 100px;
     margin-left: 300px;
    max-width: 500px; 
  }

.example-card1{
    margin-top: 50px;
     margin-left: 300px;
    max-width: 500px; 
  }
  .card1{
    margin-top: 50px;
    margin-left: 300px;
    max-width: 500px; 
    outline: none;
    border: none;
    border-color: transparent;

  }
  .example-icon {
    padding: 0 14px;
  }
  

  