
<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button color="primary">LOGIN</button>
      <button mat-raised-button color="primary" class="x" routerLink="/register" >
         <mat-icon>account_circle</mat-icon>Register</button>
      <!-- <button mat-raised-button color="primary" (click)="navigateToRegistration();">Registration</button> -->
      <br><br><a routerLink="/forgotpassword">Forgot password?</a>
   </mat-card-actions>
</mat-card>

